// albumcard.module.scss
.albumCard {
  display: flex;
  border-radius: 11px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: fit-content;
  transition: transform 200ms;

  .albumImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .albumInfo {
    background-color: rgb(25, 25, 25);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 175px;
    display: flex;
    flex-direction: column;

    .titleContainer {
      overflow: hidden;
      padding-left: 15px;
      padding-right: 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .albumTitle {
      font-weight: bold;
      color: white;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.hovered {
        
        overflow: initial;
        text-overflow: initial;
        transition: transform 0.5s ease;
      }
    }

    .albumArtist {
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      padding-left: 3px;
      padding-right: 3px;
    }

    p {
      color: rgb(255, 255, 255);
    }
  }

  &:hover {
    .albumInfo {
      background-color: rgb(0, 0, 0);
    }

    &.longTitle {
      .albumTitle {
        animation: marquee 5s linear infinite;
        white-space: nowrap;
        text-overflow: clip;
      
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}