.header {
    padding: 2px 0px 2px 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    gap: 5vw;

    .logo {
        background-image: url(/assets/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40px;
        width: 40px;

        &:hover {
            transform: scale(1.05);
        }
    }

    .search {
        position: relative;

        input {

            padding: 10px 20px 10px 10px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            width: 30vw;
            outline-style: none;

        }

        input::placeholder {
            color: #ccc;
        }

        .magnifyingGlass {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(/assets/magnifyingGlass.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 32px;
            width: 33px;
            display: flex;
            border: none;
            padding: 0; 
            outline: none; 
            cursor: pointer; 
            -webkit-appearance: none; // Supprime le style de bouton pour Chrome et Safari
            -moz-appearance: none; // Supprime le style de bouton pour Firefox
            appearance: none; // Supprime le style de bouton pour le reste des navigateurs

            
        }
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 15px 0px 15px 0px;
            padding: 0;

            li {
                .like {
                    background-image: url(/assets/like.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 32px;
                    width: 35px;
                    display: flex;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

    }


}