.albumDetail {
  display: flex;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 94vw;
  min-width: 9%;
  border: solid black 3px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #000000;
  margin: 6px;
  position: relative;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    h2 {
      max-width: 30vw;
    }
  }

  @media screen and (min-width: 880px) {
    flex-direction: row;
    min-height: 88vh;
    max-height: 88vh;
    min-width: 87vw;
    margin: 0;
  }

  .albumTracks {
    text-align: center;
    margin: 0;
    font-size: 25px;
  }

  .albumInformations {
    display: flex;
    flex-direction: column;
  }

  .albumTitles {
    display: flex;
    flex-direction: column;
  }

  .albumImage {
    margin: 10px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: solid black 2px;

    @media screen and (min-width: 880px) {
      border-radius: 6px;
      max-width: 50vw;
      width: 50vw;
      border: solid white 2px;
      margin: 2vh;
    }
  }

  .artistImage {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid white 2px;
    object-fit: cover;

    &:hover {
      transform: scale(1.02);
    }

    @media screen and (min-width: 880px) {
      height: 100px;
      width: 100px;
    }
  }

  .albumInfo {
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    margin: 0;
    flex: 1 1 auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 880px) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: flex;
      align-items: center;
      max-width: 100%;
      flex-direction: column;
      justify-content: flex-start;
    }

    &::-webkit-scrollbar {
      width: 0px;
    }

    .albumTitle {
      font-weight: bold;
      color: white;
      font-size: 35px;
      display: flex;
      justify-content: center;
      margin: 10px 10px 10px 10px;
      padding: 15px 15px 10px 15px;
    }

    .albumArtist {
      color: gray;
      margin-bottom: 10px;
      font-size: 20px;
      padding-left: 3px;
      padding-right: 3px;
      margin-top: 0;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        transform: scale(1.02);
      }
    }

    .releaseDate {
      font-size: 12px;
      margin-top: 10px;
      color: #888;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        border: solid white 2px;
        margin-top: 8px;
        background-color: gray;
        width: 100%;
        max-width: 80vw;
        min-width: 80vw;
        padding: 5px 5px 5px 5px;
        font-family: 'Gill Sans',
          'Gill Sans MT',
          Calibri,
          'Trebuchet MS',
          sans-serif;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 880px) {
          max-width: 35vw;
          min-width: 35vw;
        }

        .like {
          font-size: 20px;
          align-items: center;
          background: none;
          border: none;
          cursor: pointer;
          display: flex;
          border-style: none;
          justify-content: center;
          transition: transform 200ms;

          &:hover {
            transform: scale(1.05);
          }
        }

        .trackLogo {
          background-image: url(../../../../public/assets/cover.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 50px;
          width: 50px;
        }

        .trackSlot {
          display: flex;
          align-items: center;

          .plusSymbol {
            cursor: pointer;

            &:hover {
              transform: scale(1.05);
            }
          }

          .trackNumber {
            margin-left: 15px;
            margin-right: 15px;
          }
        }
      }
    }

    .titleButton {
      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none;
      color: black;

      &:hover {
        transform: scale(1.005);

        @media screen and (min-width: 880px) {
          transform: scale(1.01);
        }
      }
    }

    .button {
      background-image: url(/assets/return.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 34px;
      width: 34px;
      display: flex;
      border-radius: 30px;
      border: solid rgb(255, 255, 255) 2px;
      margin: 16px;
      align-items: flex-start;
      background-color: #1dc95c;

      @media screen and (min-width: 880px) {
        padding-bottom: 34px;
        height: auto;
        transition: transform 200ms;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}