.albumCard {
  display: flex;
  border-radius: 11px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: fit-content;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.05);

    @media screen and (max-width: 880px) {
      transform: scale(1.02);
    }
  }

  .albumImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .albumInfo {
    background-color: rgb(25, 25, 25);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 175px;

    .albumTitle {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
      font-size: 15px;
      padding-left: 3px;
      padding-right: 3px;
    }

    .albumArtist {
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      padding-left: 3px;
      padding-right: 3px;
    }

    p {
     color: black;
    }
  }
}