body {
    margin: 0;
    padding: 0;
        /* Styles pour la barre de défilement dans les navigateurs WebKit (Chrome, Safari, etc.) */
        &::-webkit-scrollbar {
            width: 0px;
            /* Largeur de la barre de défilement */
          }
}

