.container {
    padding-top: 62px;  // Ajustez cette valeur à la hauteur de votre en-tête
    height: 200vh;
    background-color: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .childcontainer {
        width: 95%;
        height: 99%;
        border-radius: 10px;
        background-color: rgb(62, 62, 62);


        .cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
            width: 230px;
            height: 60px;

            p {
                margin: 0;
                padding: 5px 0;
              }
          }
    }
}
}