.container {
  padding-top: 62px;
  min-height: calc(100vh - 62px);
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  border-radius: 10px;
  padding-top: 52px;

  .childcontainer {
    margin: 10px;
    width: 94vw;
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 90vh;

    &::-webkit-scrollbar {
      width: 0px;
    }

    @media (min-width: 880px) {
      width: 96vw;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      max-width: 90vw;

      li {
        border: solid white 2px;
        margin-top: 8px;
        background-color: gray;
        width: 100%;
        max-width: 80vw;
        min-width: 80vw;
        padding: 5px 10px 5px 10px;
        font-family: 'Gill Sans',
          'Gill Sans MT',
          Calibri,
          'Trebuchet MS',
          sans-serif;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 25px;
          &:hover {
            transform: scale(1.005);
    
            @media screen and (min-width: 880px) {
              transform: scale(1.01);
            }
          }
        }

        .trackNameArtistImage {
          display: flex;
          align-items: center;
          
        }

        .titleButton {
          margin-left: 10px;
          margin-right: 10px;
          text-decoration: none;
          color: black;
          width: 40vw;
    
          &:hover {
            transform: scale(1.005);
    
            @media screen and (min-width: 880px) {
              transform: scale(1.01);
            }
          }
        }

        .trackLogo {
          background-image: url(../../../public/assets/cover.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 50px;
          width: 50px;
        }

        .trackSlot {
          display: flex;
          align-items: center;

          p {
            &:hover {
              transform: scale(1.05);
            }
          }

          .trackNumber {
            margin-left: 15px;
            margin-right: 15px;
          }
        }
      }
      }
    }
  }

  .artistImage {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid white 2px;
    object-fit: cover;
  }

